rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /game/state {
      allow read: if true;
      allow write: if request.auth != null
                   && request.auth.token.email == 'malicemalivert@gmail.com';
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
